<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>read</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
    <div class="nav mb-10">
        <a href="/">back to home</a>
    </div>
    <div class="bg-zinc-700 w-full h-full text-white">
        <h1>All users</h1>
        <div class="users flex gap-3 flex-wrap">
            <% users.forEach(function(user){ %>
                <div class="user max-w-72 p-10 h-22 rounded-lg shadow-cyan-500/50 bg-white-800">
                    <div class="w-full h-62 rounded-lg bg-red-500">
                        <img class="w-full h-62 object-cover overflow-hidden" src="<%= user.image %>" alt="">
                    </div>
                    <h2 class="text-lg font-bold tracking-tighter mt-3"><%= user.name %></h2>
                    <h3 class="text-zinc-500"><%= user.email %></h3>
                    <div class="flex gap-3">
                        <a class="text-green-500" href="/edit/<%= user._id %>">Edit User</a>
                        <a class="text-red-500" href="/delete/<%= user._id %>">Delete User</a>
                    </div>
                </div>
         <%   })%>
        </div>
    </div>
</body>
</html>